.scanDetails{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #201e1e;
    color: white;
    overflow-y: hidden;
}
.info{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    /* align-items: center; */
    justify-content: center;
    padding: 2rem 0;
    height: max-content;
}
.error{
    display: flex;
    background:linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.801)), url('https://media.istockphoto.com/id/1302827903/vector/chromosome-dna-data-abstract-background.jpg?s=612x612&w=0&k=20&c=iG0B8LIsaCQLYunBCTIA516M10u96R6G75Ij9ztQwOE=');
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-weight: 700;
    margin: 0;
    font-size: 3rem;
    color: #ffc929;
}
.goBack{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #ffc929;
    border: 0.1rem solid #ffc929;
    background-color: black;
    font-weight: 600;
    width: 8rem;
    height: 3rem;
    transition: 0.2s all;
}
.goBack:hover{
    background-color: #ffc929;
    color: black;
    cursor: pointer;
}
.loading{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
    color: #ffc929;
}
.loadingGIF{
    width:100%;
    height:0;
    padding-bottom:100%;
    position:relative;
}
.breaches{
    width: 20rem;
    height: max-content;
    margin: 1rem;
    border-radius: 1.5rem;
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    background-color: rgba(172, 172, 172, 0.346);
    color: rgba(255, 255, 255, 0.559);
}
.top{
    border-radius: 1.5rem;
    display: flex;
    margin: 0;
    width: 100%;
    height: max-content;
    align-items: center;
    gap: 10%;
    color: black;
    justify-content: center;
    background-color: #ffc929;
}
.top h2{
    font-size: 1rem;
}
.top img{
    width: 1.5rem;
}
.top span{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: black;
    color: white;
}
.leakedInfo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 500;
    width: 70%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.leakedInfo span{
    font-size: 1rem;
    font-weight: 700;
    color: white;
}
.breachDate{
    display: flex;
    font-weight: 500;
    width: 70%;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}
.breachDate span{
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.moreInfo{
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}
.moreInfo:hover{
    color: #ffc929;
}
.descriptionOverlay{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.86); /* Adjust the opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    z-index: 3;
    /* filter: blur(5px); */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
    align-items: center;
    height: max-content;
    color: white;
    padding: 2rem;
    margin: auto;
    font-size: 1.2rem;
    background-color:#232323;
    border-radius: 1rem;
}
/* .description::before{
    content: '';
    z-index: -1;
    position: absolute;
    top:0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.276);
} */
a{
    color: #ffc929;
}
.descriptionInfo{
    width: 80%;
}
.description svg{
    cursor: pointer;
    color: white;
    position: absolute;
    top: 3%;
    right: 3%;
    width: 1.3rem;
    font-weight: 800;
}
.description svg:hover{
    color: #ffc929;
}
.description .top{
    height: 3rem;
    font-weight: 600;
}
.noBreach{
    position: fixed;
    top: 0;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Open Sans';
    width: 100vw;
    height:100vh;
    background-color: #201e1e;
}
p{
    margin: 0;
    padding: 0;
    width: max-content;
}
.noBreach p{
    position: absolute;
    top: 60%;
    left: 10%;
}
.noBreach p p{
    font-size: 4rem;
}
.noBreach p p span{
    margin: 0;
    font-size: 5rem;
    color: #ffc929;
}
.noBreach svg{
    z-index: -1;
    width: 50rem;
    position: absolute;
}
.noBreach svg:first-child{
    fill: #201e1edb;
    /* z-index: 1; */
    top: 5%;
    right: -10%;
}
.noBreach svg:nth-child(2){
    fill: #926e00c8;
    z-index: -2;
    top: 4%;
    right: -9%;
}
.breachCount{
    z-index: 1;
    margin: 10% 0 0 10%;
    font-family: 'Gabarito';
    font-size: 2rem;
    font-weight: 600;
}
.breachCount span{
    font-size: 3rem;
    color: #ffc929;
}
@media only screen and (max-width:1100px){
    .description{
        width: 40%;
    }
}
@media only screen and (max-width:700px){
    .loading{
        font-size: 3rem;
    }
    .description{
        width: 60%;
    }
}
@media only screen and (max-width:610px){
    .error{
        font-weight: 700;
        font-size: 2rem;
    }
    .noBreach{
        font-size: 2rem;
    }
    .noBreach p{
        top: 50%;
    }
    .noBreach p p{
        font-size: 4rem;
    }
    .noBreach p p span{
        font-size: 5rem;
    }
}
@media only screen and (max-width:550px){
    .noBreach{
        font-size: 2rem;
    }
    .noBreach p p{
        font-size: 3rem;
    }
    .noBreach p p span{
        font-size: 4rem;
    }
}
@media only screen and (max-width:520px){
    .loading{
        font-size: 2.5rem;
    }
    .breachCount span{
        font-size: 2rem;
    }
}
@media only screen and (max-width:450px){
    .breachCount{
        font-size: 1.5rem;
    }
    .breachCount span{
        font-size: 2rem;
    }
    .error{
        font-weight: 700;
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:420px){
    .loading{
        font-size: 2rem;
    }
    .noBreach p p{
        font-size: 2.5rem;
    }
    .noBreach p p span{
        font-size: 3.5rem;
    }
    .description{
        width: 70%;
    }
}